@{
}




<h3 style="padding-left: 26px; padding-top: 10px">
    Breda University of Applied Sciences
</h3>

<div class="block1" style="background: #683c23; padding: 15px">
    <p style="color: #cfba83">
        More than 7,000 students from more than 100 countries study at Breda University of Applied Sciences. Our campus is located in the bustling student city of Breda, not far from the center.

        You can come to us for a bachelor's degree in the field of Built Environment, Data Science & AI, Facility, Games, Hotel, Leisure & Events, Logistics, Media and Tourism, but also for scientific bachelor's programmes.
        In addition, we offer pre-university and MBO students a shortened HBO bachelor's degree. <b>  <a href="https://www.google.com/maps?q=reda+University+of+Applied+Sciences&um=1&ie=UTF-8&sa=X&ved=2ahUKEwir2LeSrPv6AhVsMOwKHfyIBhQQ_AUoAXoECAIQAw">Adres: Monseigneur Hopmansstraat 2, 4817 JS Breda</a></b>
    </p>
</div>

<hr class="dotted" />

<h3 style="padding-left: 26px; padding-top: 10px;">
    Tilburg University
</h3>

<div class="block2" style="background: #97a76e; padding: 15px; ">
    <p style="color: #2b2a29 ">
        Tilburg University (until 2010 Tilburg University, Tilburg University) is a Catholic university in Tilburg that specializes in human and social sciences.
        Tilburg University annually organizes various activities (lectures, conferences, educational programmes) that can be traced back to its identity.
        <b>  <a href="https://www.google.com/maps?q=Tilburg+University&um=1&ie=UTF-8&sa=X&ved=2ahUKEwi98JblrPv6AhWEuKQKHbz3Cl8Q_AUoA3oECAIQBQ">Adres: Warandelaan 2, 5037 AB Tilburg</a></b>
    </p>
</div>


<hr class="dotted" />


<h3 style="padding-left: 26px; padding-top: 10px;">
    Den_bosch University of Applied Sciences
</h3>

<div block1" style="background: #683c23; padding: 15px">
    <p style="color: #cfba83 ">
        Avans Hogeschool was created in 2004 through a merger of Hogeschool Brabant and Hogeschool 's Hertogenbosch. They have no fewer than 48 HBO courses that you can choose from.
        The school has 29,500 students and 2,800 employees. Avans University of Applied Sciences has locations in Den Bosch, Tilburg and Breda.
        <b>  <a href="https://www.google.com/maps?sxsrf=ALiCzsZBpRivvxCBo5P8QDg6hhIBtY-Emg:1666699919228&q=Den+Bosch+AVANS+University+of+Applied+Sciences&biw=1371&bih=695&dpr=1.4&um=1&ie=UTF-8&sa=X&ved=2ahUKEwj68_eJrfv6AhW6wAIHHTxcBrAQ_AUoAXoECAIQAw">Adres: Onderwijsboulevard 215, 5223 DE 's-Hertogenbosch</a></b>
    </p>
</div>