@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3 style="padding-left: 26px; padding-top: 10px">
    The Problem with Food Waste
</h3>

<div class="block1" style="background: #683c23; padding: 15px">
    <p style="color: #cfba83">
        Wasted food happens for a variety of reasons but most often occurs in our households because we don't eat it before it rots.
        40% of what we send to landfills in the U.S. is compostable material and 22% is solely food waste. We are filling up our trash cans with edible food and it's a huge problem.
        Food waste is one of the largest producers of greenhouse gases worldwide!

    </p>
</div>





<h3 style="padding-left: 26px; padding-top: 10px;">
    Food Waste Wastes Money
</h3>

<div class="block2" style="background: #97a76e; padding: 15px; ">
    <p style="color: #2b2a29 ">
        It is estimated that 1/3 of your food budget is getting thrown in the trash (or compost) each week when food is left to rot in the fridge.
        Restaurants lose money when they end the day with leftover meals that didn't sell or ingredients that won't last until the next shift.
        Grocery stores also lose money when they dispose of products nearing their expiration dates or have a surplus of produce that isn't selling.
    </p>
</div>

  



<img src="~/images/ZeroFoodWaste.webp" alt="FoodWaste" width="450" height="450" />